<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Recetapp</title>
        <link rel="stylesheet" href="/css/style.css" type="text/css"> </link>
    </head>



    <body>
        <header>
            <div id="logo">
                <img alt="" class="logo" src="img/logoCompleto.png"/>

            </div>
            <nav class="ingresar">
                <ul>
                    <li>
                        <a href="/usuario/">ingresar</a>
                    </li>
                </ul>
           
            </nav>
        </header>
    </body>

</html>