<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="/CSS/LoginCSS.css">
</head>
<body>
    <div class="login-box">
        <img class="avatar" src="img/R.jpg" alt="">
        <h1>Ingresar</h1>
        <form action="/usuario/login" method ="GET"> 
            <label for="Mail">Mail</label>
            <input type="text"  placeholder="Ingrese su Mail" name ="MAIL">

            <label for="contraseña">Contraseña</label>
            <input type="password"  placeholder="Ingrese su contraseña" name ="CLAVE">
            
            <input  type="submit" value="Iniciar sesión">
            

            <a href="RecuperarCuente.html">Olvido su contraseña?</a><br>
            <a href="/usuario/">No tienes cuenta?</a>
            
            
            
        </form>
    </div>
</body>
</html>