<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Registrar</title>
	<link rel="stylesheet" href="/css/Register1.css">
</head>
<body>
	 	 <div class="register-box">
 	 	<img class="r1" src="img/Logo.jpeg" alt="">
 	 	<h1>Registrarse</h1>
 	 	<form action="register" method="POST">

 	 		<label for="mail">Email</label>
 	 		<input type="text" name="mail">
 	 		
 	 		<label for="nombre">Nombre</label>
 	 		<input type="text"  name ="nombre">

 	 		<label for="apellido">Apellido</label>
 	 		<input type="text"  name="apellido">

 	 		<label for="clave">Confirmar contraseña</label>
 	 		<input type="password"  name="clave">

 	 		<button type="submit">Registrar</button><p></p>
            <a href="index.html">Tengo cuenta</a>
 	 		
 	 	</form>
 	 </div>
</body>
</html>