<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Registrar</title>

        <link rel="stylesheet" href="/CSS/LoginCSS.css">
        <link rel="stylesheet" href="/css/Register1.css">
        <link rel="icon" href="/img/logoCirc.png" type="image/png">

    </head>
    <body>
        <div class="register-box">
            <img class="r1" src="img/Logo.jpeg" alt="">
            <h1>Registrarse</h1>
            <form action="registrar" method="POST">



                <label for="nombre">Nombre</label>
                <input type="text"  name ="nombre">

                <label for="apellido">Apellido</label>
                <input type="text"  name="apellido">

                <label for="mail">Correo Electrónico</label>
                <input type="email" name="mail">


                <label for="clave">Contraseña</label>
                <input type="password"  name="clave">


                <input type="submit" value="Registrarme">
                <a href="/usuario/login">Ya tengo una cuenta</a>

            </form>
        </div>
    </body>
</html>