footer {
    width: 100%;
    background-color: #1E1E1E;
    color: black;
}

.container-footer-all {
    width: 80%;
    margin: auto;
    background-color: #1E1E1E;
}

.container-body {
    background-color: #1E1E1E;
}

.colum1 {
    max-width: 33%;
    background-color: #1E1E1E;
}

.colum1 h1 {
    color: #aaaaaa;
    font: normal 120% sans-serif;
}

.colum1 p {
    color: #aaaaaa;
    margin-top: 10px;
    font: normal 100% sans-serif;
}

.colum2 {
    max-width: 33%;
    background-color: #1E1E1E;
}

.colum2 h1 {
    color: #aaaaaa;
    font: normal 120% sans-serif;
}

.colum2 p {
    color: #aaaaaa;
    margin-top: 10px;
    font: normal 100% sans-serif;
}

.colum3 {
    max-width: 33%;
    background-color: #1E1E1E;
}

.colum3 h1 {
    color: #aaaaaa;
    font: 120% sans-serif;
}

.colum3 p {
    color: #aaaaaa;
    margin-top: 10px;
    font: normal 100% sans-serif;
}

.row {
    margin-top: 4px;
    display: flex;
}

.row img {
    width: 30px;
    height: 30px;
    background-color: #1E1E1E;
}

.row label {
    margin-top: 4px;
    margin-left: 10px;
    color: #aaaaaa;
}

.row2 {
    margin-top: 4px;
    display: flex;
}

.row2 img {
    width: 30px;
    height: 30px;
    background-color: #1E1E1E;
}

.row2 label {
    margin-top: 4px;
    margin-left: 10px;
    color: #aaaaaa;
}